<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="top_menu_1.css">
</head>

<body>
  <div class="site-header">
    <div class="container-fluid">
      <div class="header-menu-item col-xs-3">
          <a class="header-text" href="#">TOP</a>
      </div>
      <div class="header-menu-item col-xs-3">
          <a class="header-text" href="#aaa">AAAA</a>
      </div>
      <div class="header-menu-item col-xs-3">
        <a class="header-text" href="#bbb">BBBB</a>
      </div>
      <div class="header-menu-item col-xs-3">
          <a class="header-text" href="#ccc">CCC</a>
      </div>
    </div>
  </div>

  <div style="height: 200px;"></div>

  <a id="aaa">AAA</a> <br>

  <a id="bbb">BBB</a> <br>

  <a id="ccc">CCC</a>
</body>